@model Posts__Comments.Models.Post
@{
    Layout = null;
}
                                                                                                                                        
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div>
        @using(Html.BeginForm("Edit","Post"))
        { 
        <fieldset>
            <legend>@Html.EditorFor(m => m.Topic)</legend>
            @Html.EditorFor(m => m.Text)
        </fieldset>
        <input type="submit" value="Edit" />
        }
    </div>
</body>
</html>
